<!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Giỏ hàng của bạn</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tổng tiền</th>
              </tr>
            </thead>
            <tbody>
              {{#each data}}
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src={{this._img}} alt="" />
                    </div>
                    <div class="media-body">
                      <p>{{this._nameproduct}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>${{this._price}}</h5>
                </td>
                <td>
                  <div class="product_count">
                    <!-- <input type="text" value="1" min="0" max="10" title="Quantity:"
                      class="input-text qty input-number" />
                    <button
                      class="increase input-number-increment items-count" type="button">
                      <i class="ti-angle-up"></i>
                    </button>
                    <button
                      class="reduced input-number-decrement items-count" type="button">
                      <i class="ti-angle-down"></i>
                    </button> -->
                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="1" min="0" max="10">
                    <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td>
                <td>
                  <h5>${{this._price}}</h5>
                </td>
              </tr>
               {{/each}}
              
              
             
              
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="/product">Tiếp tục mua hàng</a>
            <a class="btn_1 checkout_btn_1" href="{{path}}">Xác nhận đơn hàng</a>
          </div>
        </div>
      </div>
  </section>
  <!--================End Cart Area =================-->