<!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Cửa hàng</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->
    
    <!-- product list part start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product_sidebar">
                        
                        
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list text-capitalize">{{_nsx}} <i class="right fas fa-caret-down"></i> </div>
                                <div class="select_option_dropdown text-capitalize">
                                    {{#each procedures}}
                                    <p><a href="/product?page=1&nsx={{this}}">{{this}}</a></p>
                                    
                                    {{/each}}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="product_list">
                        <div class="row">
                            {{#each products}}
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_product_item">
                                    <a href="singleproduct/{{this._slug}}">
                                        <img src="{{this._img}}" alt="#" class="img-fluid">
                                    </a>
                                   
                                    <h3> <a href="singleproduct/{{this._id}}">{{this._nameproduct}}</a> </h3>
                                    <p>{{this._price}}₫</p>
                                </div>
                            </div>
                            {{/each}}
                            
                            
                            
                            
                            
                            
                            
                            
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center pagination-lg">
                                {{#each page_items}}
                                    {{#if isActive}}
                                        <li class="page-item active">
                                            <span class="page-link">
                                                {{value}}
                                                <span class="sr-only">(current)</span>
                                            </span>
                                        </li>
                                    {{else}}
                                        <li class="page-item"><a class="page-link" href="product?page={{value}}&nsx={{n}}">{{value}}</a></li>
                                    {{/if}}
                                {{/each}}
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->
    
    

    <!-- feature part here -->
    <section class="feature_part section_padding">
        <div class="container">
            
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="img/icon/feature_icon_1.svg" alt="#">
                        <h4>Hỗ trợ sử dụng thẻ tín dụng</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="img/icon/feature_icon_2.svg" alt="#">
                        <h4>Đặt hàng trực tuyến</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="img/icon/feature_icon_3.svg" alt="#">
                        <h4>Miễn phí giao hàng</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="img/icon/feature_icon_4.svg" alt="#">
                        <h4>Tặng quà khi mua hàng</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature part end -->