<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Shop bán đồ truyền thống</h1>
                            <p>Luôn đem lại cho khách hàng những sản phẩm chất lượng nhất</p>
                            <a href="/product" class="btn_1">Khám phá ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_img">
            <img src="/img/banner.png" alt="#" class="img-fluid">
            <img src="/img/banner_pattern.png " alt="#" class="pattern_img img-fluid">
        </div>
    </section>
    <!-- banner part start-->

	
    
<!-- trending item start-->
    <section class="trending_items">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Mặt hàng thịnh hành</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                
                
                
               
                {{#each products}}
                <div class="col-lg-4 col-sm-6">
                    <div class="single_product_item">
                        <a href="singleproduct/{{this.slug}}">
                            <img src="{{this.image}}" alt="#" class="img-fluid">
                        </a>
                        <h3> <a href="singleproduct/{{this.slug}}">{{this.name}}</a> </h3>
                        <p>{{this.price}} ₫</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    <!-- trending item end-->
	

	

	

	